#image{
    width: 200px;
}

.header{
    display: grid;
    
}
.collerimage{
    display: flex;
    flex-direction: row;
}

.titreheader{
   color: rgb(38, 91, 59);
    margin: 0px;
}
.footy{
align-content: center;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(38, 91, 59);
}

/* Styles pour les éléments de liste dans la navigation */
li {
  float: left;
}

/* Styles pour les liens de navigation */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Effet hover sur les liens */
li a:hover {
  background-color: #0b3a1d;
}
body{
    margin: auto;
   
}
  h2{  text-align: center;
    color: rgb(38, 91, 59);
}





/* Formulaire */
form {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  max-width: 350px;
  margin: auto;
}

/* Champs */
form input, form select, form button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

/* Bouton */
form button {
  background: rgb(38, 91, 59);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background: #024218;
}

/* Message de succès */
#msg {
  margin-top: 15px;
  font-weight: bold;
}

 footer {
      background: rgb(38, 91, 59);
      color: #fff;
      text-align: center;
      padding: 40px;
      margin-top: 35px;
    }
    footer a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      transition: 0.3s;
    }
    footer a:hover {
      text-decoration: underline;
    }

